 <nav>
  <ul>
    <li><a href="#sessao1">Inicio</a></li>
    <li><a href="#sessao2">Cabeçotes</a></li>
    <li><a href="#sessao3">Contatos</a></li>
  </ul>
 </nav>

 <section id="sessao1">
  <h1 style="text-align: center">FH <br> RETIFICA DE CABEÇOTES</h1>
 </section>

 <section id="sessao2">
  <!-- <h1>Cabeçotes</h1> -->
  <div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 1rem;">
    <div class="col">
      <div class="card">
        <img src="../../../assets/cabeçote1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Volkswagen</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/cabeçote1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Renault</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
 </section>

 <section id="sessao3">
  <div class="container text-center">
    <div class="row align-items-center">
      <h1 style="text-align: center;">Nos acompanhe nas redes sociais</h1>
      <div class="col">
        <a href="">
          <img src="../../../assets/facebook.png" width="100" alt="">
        </a>
      </div>
      <div class="col">
        <a href="" style="padding: 1rem;">
          <img src="../../../assets/instagram.png" width="120" alt="">
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="../../../assets/youtube.png" width="250" alt="">
        </a>
      </div>
    </div>
  </div>
 </section>

 <div class="whats">
  <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511965712068"target="_blank" >
    <img src="../../../assets/whatsapp.png" width="75" alt="Icone Whatsapp" title="Fale Conosco pelo Whatsapp">

  </a>
 </div>
